body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    

}

.main-container{   
    margin: 100px;
    height: 500px;
   
    background-color: white;

}
.nav{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    

}
.item1{
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-top:solid gray 0.5px;
    padding: 20px;
}
.item1-quantity{
    display: flex;
    width: 15%;
    justify-content: space-around;
    height: 40px;
}

.item2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-top:solid gray 0.5px;
    padding: 20px;
}
.item2-quantity{
    display: flex;
    width: 15%;
    justify-content: space-around;
    height: 40px;
}

.item3{
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-top:solid gray 0.5px;
    padding: 20px;
}
.item3-quantity{
    display: flex;
    width: 15%;
    justify-content: space-around;
    height: 40px;
}

.case{
    width: 30px; 
    text-align: center;
}

